{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">
<style>
    .text_content {
        line-height: 30px;
        font-size: 20px;
    }
    
</style>
{% endblock heder %}
{% block mainbody %}
<script>
    let body = document.getElementById("mainbody")
    body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

    <div id="et-main-area">

        <div id="main-content">
            <div class="container">
                <div id="content-area" class="clearfix">
                    <div id="left-area">
                        <div id="chdiv00_ln">
                            <div class="album">

                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card border-0">
                                            <img src="/static/mbbs_state_all_link_images/Untitled-2.png" alt="Top Cities & States">
                                            <div class="card-body border-0">
                                                <a href="/top-cities-and-states" class="card-text fw-bold fs-2">Top Cities & States</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/neet-2023"> <img src="/static/mbbs_state_all_link_images/NEET 2023.png" alt="NEET 2023"></a>
                                            <div class="card-body border-0">
                                                <a href="/neet-2023" class="card-text fw-bold fs-2"> NEET 2023</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/mbbs-abroad"> <img src="/static/mbbs_state_all_link_images/MBBS.png" alt="MBBS abroad"></a>
                                            <div class="card-body border-0">
                                                <a href="/mbbs-abroad" class="card-text fw-bold fs-2">MBBS ABROAD</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/college-type-and-admission"><img src="/static/mbbs_state_all_link_images/COLLEGE.png" alt="COLLEGE TYPE & ADMISSION"></a>
                                            <div class="card-body border-0">
                                                <a href="/college-type-and-admission" class="card-text fw-bold fs-4">COLLEGE TYPE & ADMISSION</p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card border-0">
                                            <a href="/cutt-off"><img src="/static/mbbs_state_all_link_images/CUT.png" alt="cutoff"></a>
                                            <div class="card-body border-0">
                                                <a href="/cutt-off" class="card-text fw-bold fs-2">CUT OFF</a>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="card border-0">
                                            <img src="/static/mbbs_state_all_link_images/NEWS.png" alt="news & alerts">
                                            <div class="card-body border-0">
                                                <a href="" class="card-text fw-bold fs-2">NEWS & ALERTS</a>
s
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <img src="/static/mbbs_state_all_link_images/NEET .png" alt="NEET PG Counselling 2023">
                                            <div class="card-body border-0">
                                                <a href="" class="card-text fw-bold fs-2">NEET PG Counselling 2023</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0">
                                            <img src="/static/mbbs_state_all_link_images/NEET.png" alt="neet">
                                            <div class="card-body border-0">
                                                <a href="" class="card-text fw-bold fs-2">NEET UG Counselling 2023</a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    {% include "need_help_addmitionform.html" %}

                </div>
            </div>

        </div>


    </div>

    {% endblock mainbody %}