{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">

{% endblock heder %}
{% block mainbody %}
<script>
  let body = document.getElementById("mainbody")
  body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

  <div id="et-main-area">

    <div id="main-content">
      <div class="container">
        <div id="content-area" class="clearfix">
          <div id="left-area">
            <div id="chdiv00">

              <article id="post-8968"
                class="et_pb_post post-8968 post type-post status-publish format-standard has-post-thumbnail hentry category-mbbs-admission-2023-24 category-medical-colleges-in-maharastra tag-mbbs-in-maharahtra tag-top-private-colleges-for-mbbs-in-maharashtra-2023-24">


                <div class="album py-5 bg-body-tertiary" id="html_to_div">
                  <h1 class="text-center fw-bold fs-1 mx-5 my-3">{{html_page_data.html_page_name}}
                  </h1><br>
                  <!-- <div class="container"> -->

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
                     
                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-hyderabad"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Hyderabad.png" alt="MBBS Colleges in Hyderabad" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-hyderabad">Top MBBS Colleges in Hyderabad</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-bangalore"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Bangalore.png" alt="MBBS Colleges in Bangalore" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-bangalore">Top MBBS Colleges in
                                Bangalore</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-chennai"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Chennai.png" alt="MBBS Colleges in Chennai" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-chennai">Top MBBS Colleges in
                                Chennai</a>
                          </div>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-olleges-in-pondicherry"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Pondicherry.png" alt="MBBS Colleges in Pondicherry" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-olleges-in-pondicherry">Top MBBS Colleges in
                                Pondicherry</a>
                          </div>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-mangalore"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Mangalore.png" alt="MBBS Colleges in Mangalore" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-mangalore">Top MBBS Colleges in
                                Mangalore</a>
                          </div>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-dehradun"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS colleges in Dehradun.png" alt="MBBS colleges in Dehradun" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-dehradun">Top MBBS Colleges in
                                Dehradun</a>
                          </div>
                        </div>
                      </div>


                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-pune"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Pune.png" alt="MBBS Colleges in Pune" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-pune">Top MBBS Colleges in Pune</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-bhopa"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Bhopal.png" alt="MBBS Colleges in Bhopal" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-bhopa">Top MBBS Colleges in
                                Bhopal</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-bhubaneswar"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Bhubaneswar.png" alt="MBBS Colleges in Bhubaneswar" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-bhubaneswar">Top MBBS Colleges in
                                Bhubaneswar</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-lucknow"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Lucknow.png" alt="MBBS Colleges in Lucknow" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-lucknow">Top MBBS Colleges in
                                Lucknow</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-kolkata"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Kolkata.png" alt="MBBS Colleges in Kolkata" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-kolkata">Top MBBS Colleges in
                                Kolkata</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-new-delhi"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in New Delhi.png" alt="MBBS Colleges in New Delhi" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-new-delhi">Top MBBS Colleges in New
                                Delhi</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-kerala"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS  Colleges in Kerala.png" alt="MBBS  Colleges in Kerala" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-kerala">Top MBBS Colleges in
                                Kerala</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-karnataka"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Karnataka.png" alt="MBBS Colleges in Karnataka" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-karnataka">Top MBBS Colleges in
                                Karnataka</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-delhi-ncr"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Delhi NCR.png" alt="MBBS Colleges in Delhi NCR" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-delhi-ncr">Top MBBS Colleges in
                                Delhi NCR</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-uttar-pradesh"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS colleges in uttar pradesh.png" alt="MBBS colleges in uttar pradesh" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-uttar-pradesh">Top MBBS Colleges in
                                Uttar Pradesh</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-maharashtra"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Maharashtra.png" alt="MBBS Colleges in Maharashtra" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-maharashtra">Top MBBS Colleges in
                                Maharashtra</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-tamil-nadu"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Tamil Nadu.png" alt="MBBS Colleges in Tamil Nadu" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-tamil-nadu">Top MBBS Colleges in
                                Tamil Nadu</a>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="card border-0">
                          <a href="/top-mbbs-colleges-in-punjab"><img src="/static/mbbs_state_all_link_images/top_mbbs_state_city/MBBS Colleges in Punjab.png" alt="MBBS Colleges in Punjab" class="img-fluid"></a>
                          <div class="card-body border-0">
                            <a href="/top-mbbs-colleges-in-punjab">Top
                                Top MBBS Colleges in Punjab</a>
                          </div>
                        </div>
                      </div>

                      
                  
                    </div>
                  <!-- </div> -->
                </div>

              </article>


            </div>
          </div>
          {% include "need_help_addmitionform.html" %}

        </div>
      </div>
    </div>

  </div>
</div>


{% endblock mainbody %}